[name]            # Name of the account, must be unique

user =            # user to run getmail as
config =          # absolute path to the configuration file
limit =           # number of minutes getmail is allowed to run before being killed